.brandsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 80px);
  mask-image: url('/second-test-mask.png');
  mask-repeat: repeat-x;
  mask-position: top;
  mask-size: contain;
  /* overflow: hidden; */
}
