version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: alcotrade-website
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always
