.video {
  position: relative;
  width: 650px;
  mask-image: url('/flip-bottle.svg');
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}
.videoBackground {
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .videoMobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .videoBackground {
    object-fit: cover;
    width: 100%;
    height: 720px;
  }

  .video {
    mask: none;
    width: 100%;
    min-height: 800px;
  }
}
